### CLion / JetBrains ###
.idea/

### CLion CMake builds ###
cmake-build-*/

### Visual Studio builds ###
build/
.vs/

### Compilation output ###
bin/

### Tools ###
tools/cmake/
tools/ninja/

### vcpkg ###
vcpkg_installed/

### CMake artifacts ###
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
*.ninja
.ninja_log
.ninja_deps
compile_commands.json

### MSVC ###
*.obj
*.ilk
*.idb
*.tlog
*.iobj
*.ipdb
*.pch

### Visual Studio
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

### Python
*.pyc
__pycache__/

### System
Thumbs.db
Desktop.ini
.DS_Store
*.swp
*~